/* VARIABLES */
:root {
  --redwood: #a54657;
  --mantis: #7ac74f;
  --coral: #f26157;
  --periwinkle: #2d93ad;
  --clay: #f1a66a;
}

/* GLOBALS */

body {
  width: 100%;
  margin: 0;
}

main {
  margin-top: 60px;
  padding: 10px;
}
a {
  color: var(--periwinkle);
}

a:visited {
  color: var(--periwinkle);
}

a:hover {
  color: var(--mantis);
}

a:active {
  color: var(--clay);
}

ul {
  list-style-type: square;
  color: #a54657;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  padding-left: 20px;
  color: var(--coral);
  border-left: 5px solid #f1a66a;
}
h2 {
  font-family: "Staatliches", cursive;
  font-size: 32px;
  color: var(--clay);
}

img {
  max-width: 100%;
}

/*NAVBAR STYLES*/

header nav {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #f1a66a;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

header nav ul li {
  font-family: "Staatliches", cursive;
  text-transform: uppercase;
  list-style-type: none;
  padding-right: 1rem;
}

header nav li > a {
  text-decoration: none;
}

header nav li > a.active-page {
  color: var(--mantis);
}

/* FOOTER STYLES*/

footer {
  background-color: var(--clay);
  display: flex;
  justify-content: center;
}

footer nav ul {
  display: flex;
  flex-direction: row;
}

footer nav li {
  list-style-type: none;
  padding: 10px;
}

/* BURGER PAGE STYLES */

img.burger-pic {
  height: 250px;
  border-radius: 10%;
  border: 10px solid #7ac74f;
}

div.burger-section {
  padding: 20px;
}

/* IMAGE GALLERY STYLES */

section#image-gallery {
  display: flex;
  flex-wrap: wrap;
}

section#image-gallery img {
  width: 30%;
  align-self: center;
  margin: 10px;
}

section#image-gallery img#beef-burger {
  order: 5;
}

section#image-gallery img#chicken-burger {
  order: 2;
}

section#image-gallery img#veg-burger {
  order: 6;
}

section#image-gallery img#sesame-burger {
  order: 3;
}

section#image-gallery img#gourmet-burger {
  order: 4;
}

section#image-gallery img#salad-burger {
  order: 1;
}
