:root {
  --redwood: #a54657;
  --mantis: #7ac74f;
  --coral: #f26157;
}

body {
  background-color: var(--redwood);
}

h1 {
  color: var(--mantis);
}

a {
  color: #2d93ad;
}

a:visited {
  color: var(--coral);
}

a:hover {
  color: var(--mantis);
}

a:active {
  color: #f1a66a;
}
