/* VARIABLES */
:root {
  --redwood: #a54657;
  --mantis: #7ac74f;
  --coral: #f26157;
  --periwinkle: #2d93ad;
  --clay: #f1a66a;
}

/* GLOBALS */

body {
  margin: 60px 0 0;
}

a {
  color: var(--periwinkle);
}

a:visited {
  color: var(--periwinkle);
}

a:hover {
  color: var(--mantis);
}

a:active {
  color: var(--clay);
}

ul {
  list-style-type: square;
  color: #a54657;
}

h1 {
  font-family: "Staatliches", cursive;
  font-size: 40px;
  padding-left: 20px;
  color: var(--coral);
  border-left: 5px solid #f1a66a;
}
h2 {
  font-family: "Staatliches", cursive;
  font-size: 32px;
  color: var(--clay);
}

img {
  max-width: 100%;
}

/*NAVBAR STYLES*/

div.navbar {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  border: 1px solid antiquewhite;
}

div.navbar li {
  list-style-type: none;
  display: inline;
  padding-right: 1rem;
}

div.navbar li > a {
  text-decoration: none;
  text-transform: uppercase;
  width: 30%;
}

div.navbar li > a:hover {
  text-decoration: underline;
}

/* BURGER PAGE STYLES */

img.burger-pic {
  height: 250px;
  border-radius: 10%;
  border: 10px solid #7ac74f;
}

div.burger-section {
  padding: 20px;
}
